#avatar {
    display: none;
}
.img-center {
    width: fit-content;
    position: relative;
    left: calc(50% - 100px);
    /* outline: 1px black solid; */
}
.form-center {
    outline: 1px black solid;
    width: 30vw;
    position: absolute;
    left: 35%;
    top: 30vh;
    line-height: 200%;
}
form {
    margin: auto;
    padding: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    
}
.form-center label{
    text-align: center;
}
.form-center input[type=text] {
    width: 24vw;
}
.form-center input[type=color] {
    width: 25vw;
}
.form-center input[type=button] {
    width: 10vw;
}