html {
    background-color: black;
}
input {
    position: relative;
    left: 25%;
    height: 30px;
}
input[type=range] {
    accent-color: lightgreen;
    width: 50%;
}
input[type=checkbox] {
    accent-color: cadetblue;
    width: 50%;
}
input[type=radio] {
    accent-color: red;
    width: 30%;
}
progress {
    position: relative;
    left: 25%;
    width: 50%;
    height: 30px;
    accent-color: yellow;
    color: white;
}
.radioArray {
    width: 50%;
    position: relative;
    left: 15%;
    height: 30px;
}